# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Env / secrets
.env
.env.*
*.pem

# Virtualenv
venv/
.venv/
env/

# OS / editor
.DS_Store
.vscode/
.idea/

# Migrations (OPTIONAL)
# If you want to keep migrations (recommended), remove these two lines
# **/migrations/
# **/migrations/__pycache__/
