{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}My Blog{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block extra_head %}{% endblock %}
</head>

<body>
  <header>
    {% if user.is_authenticated %}
    <nav>
      <div class="nav-left">
        <a class="brand" href="{% url 'index' %}">My Blog</a>
      </div>

      <div class="nav-right">
        {% if user.is_authenticated %}
          <span class="nav-user">@{{ user.username }}</span>

          <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="link-button">Logout</button>
          </form>
        {% else %}
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'signup' %}">Sign up</a>
        {% endif %}
      </div>
    </nav>
    {%endif%}
  </header>

  {% if messages %}
    <section class="messages">
      {% for message in messages %}
        <div class="message {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </section>
  {% endif %}

  <main class="container">
    {% block content %}{% endblock %}
  </main>



  
</body>
</html>
